<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
	<display-name>A Secure Application</display-name>
  
 
    <security-role>
        <role-name>admin</role-name>
		<role-name>member</role-name>
    </security-role>
	
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>
               AdminAccess
            </web-resource-name>
            <url-pattern>/admin.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
				Let only Admins to access
            </description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	
	<security-constraint>
        <web-resource-collection>
            <web-resource-name>
               MemberAccess
            </web-resource-name>
            <url-pattern>/member.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
				Let Members to access
            </description>
            <role-name>member</role-name>
        </auth-constraint>
    </security-constraint>
	
	<login-config>
      <auth-method>BASIC</auth-method>
    </login-config>
 
   
</web-app>